@model DigitalWarehouse.Models.StockChangeModel

@{
    ViewData["Title"] = "Details";
}

<h1>Stock history details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class = "col-sm-2">
           Change in stock
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChangeAmount)
        </dd>
        <dt class = "col-sm-2">
            Time of change
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChangeDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
