@model IEnumerable<DigitalWarehouse.Models.ProductModel>

@{
    ViewData["Title"] = "Home";
}

<h2 class="text-center">Our products</h2>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">Category: @product.Category?.Name</p>
                    <p class="card-text">Description: @product.Description</p>
                    <p class="card-text">Price: $@product.Price</p>
                    @if (product.Amount > 0)
                    {
                        <p class="card-text">@product.Amount total in stock</p>
                    }
                    else
                    {
                        <p class="card-text">Not in stock</p>
                    }
                </div>
            </div>
        </div>
    }
</div>
